
<h1>CS2 Multiline Key Generator</h1>
<p><b>Usage:</b> Define a key that would be used (e.g. w, mwheelup, shift) and all your messages. When you click it, the first message will get sent, then the text, and so forth in a row.</p>
<a href="/tools">← back</a>
<div class="cs2-multiline">
    <div class="cs2m-left">
        <input id="key" type="text" placeholder="Keybind">

        <div id="messages"></div>
        <button id="addMsg">Add Message</button>
    </div>
    <div class="cs2m-right">
        <textarea id="output"></textarea>
        <button id="copy">Copy Result</button>
    </div>
</div>
