
<%- include ("../components/$headerNav.ejs") %>

<div class="tools-list">
    <h1>tools</h1>

    <div class="tools-box">
        <a href="https://github.com/Smiltent/edu" data-timeid="edu">
            <h2>CS2 multibind generator</h2>
            <p id="desc">Bind a rotating message to a single keybind</p>
        </a>
    </div>
</div>
