
MONGO_CONNECTION="mongodb://localhost:27017/"

DISCORD_USER_ID=123
HACKATIME_API_KEY=456
HACKATIME_USERNAME=username
UPTIME_KUMA_URL=https://uptime.example.com
UPTIME_KUMA_SLUG=servers

LOGIN_KEY=apasswordofsorts
KEY_SIGNING=apasswordthatisnttheoneabove

EMAIL=your(at)email(dot)com

PORT=3000
NODE_ENV=prod