<% if (dev) { %>
    <div class="dev-mode-class-thing-so-it-doesnt-overlap-anything warning-tape">
        <p>WEBSITE UNDER DEV MODE! PLEASE PROCEED WITH CAUTION! (theres no caution lol)</p>
    </div>
<% } %>