
<div class="header-nav">
    <a href="/" class="h-n-box">home/</a>
    <a href="/whoami" class="h-n-box">whoami/</a>
    <a href="/blog" class="h-n-box">blog/</a>
    <a href="/projects" class="h-n-box">projects/</a>
    <a href="/guestbook" class="h-n-box">guestbook/</a>
    <a href="/tools" class="h-n-box">tools/</a>
</div>