<div class="header">
    <div class="box h-main gray-bg">
        <p id="h-deco-a"><span id="h-deco-single">✦</span> · <span id="h-deco-single">✧</span> · <span id="h-deco-single">✦</span> · <span id="h-deco-single">✧</span> · <span id="h-deco-single">✦</span></p>
        <h1>smil's website</h1>
        <p id="h-deco-b"><span id="h-deco-single">✦</span> · <span id="h-deco-single">✧</span> · <span id="h-deco-single">✦</span> · <span id="h-deco-single">✧</span> · <span id="h-deco-single">✦</span></p>
    </div>
</div>