<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a id="___DO_NOT_CLICK___YOU_WILL_BE_BANNED" href="/_admin/env/index.html" rel="nofollow" style="display: none;">super duper secret admin panel :3</a>

    <%- body %>
</body>
</html>