<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>smil's site</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Notable&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <a id="___DO_NOT_CLICK___YOU_WILL_BE_BANNED" href="/_admin/env/index.html" rel="nofollow" style="display: none;">super duper secret admin panel :3</a>

    <% if (dev) { %>
        <div class="dev-mode-class-thing-so-it-doesnt-overlap-anything warning-tape">
            <p>WEBSITE UNDER DEV MODE! PLEASE PROCEED WITH CAUTION! (theres no caution lol)</p>
        </div>
    <% } %>

    <div class="eighty8x31s-wrap">
        <div class="eighty8x31s">
            <a href="#clicked">
                <img src="/public/88x31/s/smilt.dev.png" width="88" height="31">
            </a>
            <a href="https://sad.ovh">
                <img src="/public/88x31/s/sad.ovh.png" width="88" height="31">
            </a>
            <a href="https://noob-dev.fyi">
                <img src="/public/88x31/s/noob-dev.fyi.gif" width="88" height="31">
            </a>
            <img src="/public/88x31/j/tom.png" width="88" height="31">
            <img src="/public/88x31/j/empty.png" width="88" height="31">
            <img src="/public/88x31/j/empty.png" width="88" height="31">
            <img src="/public/88x31/j/empty.png" width="88" height="31">
            <img src="/public/88x31/j/empty.png" width="88" height="31">
            <img src="/public/88x31/j/empty.png" width="88" height="31">
            <img src="/public/88x31/j/empty.png" width="88" height="31">
            <img src="/public/88x31/j/empty.png" width="88" height="31">
        </div>
    </div>

    <div class="header">
        <div class="box h-main gray-bg">
            <p id="h-deco-a"><span id="h-deco-single">✦</span> · <span id="h-deco-single">✧</span> · <span id="h-deco-single">✦</span> · <span id="h-deco-single">✧</span> · <span id="h-deco-single">✦</span></p>
            <h1>smil's website</h1>
            <p id="h-deco-b"><span id="h-deco-single">✦</span> · <span id="h-deco-single">✧</span> · <span id="h-deco-single">✦</span> · <span id="h-deco-single">✧</span> · <span id="h-deco-single">✦</span></p>
        </div>
    </div>

    <div class="main">
        <%- body %>
    </div>

    <div class="footer">
        <p>smil copyright <%= new Date().getFullYear() %> <a href="<%= gitUrl %>">sitev2@<%= gitHash %></a></p>
    </div>

    <script type="module" src="/public/js/spa.js"></script>
</body>
</html>