<div class="m-r-nav">
    <div class="box clickable">whoami/</div>
    <div class="box clickable">blog/</div>
    <div class="box clickable">projects/</div>
    <div class="box clickable">guestbook/</div>
</div>
<div class="m-r-big box clickable gray-bg">tools/</div>