
<%- include ("components/$headerNav.ejs") %>

<div class="projects">
    <h1>projects</h1>

    <div class="project-list">
        <div class="project-box" data-url="https://github.com/Smiltent/edu">
            <img src="https://opengraph.githubassets.com/1/Smiltent/edu" alt="">
            <h2>edu</h2>
            <p id="desc">Edupage scraper, which gets all the data off a schedule page and stores it</p>
        </div>
        <div class="project-box"  data-url="https://github.com/Smiltent/sitev2">
            <img src="/public/img/final.png" alt="">
            <h2>smilt.dev</h2>
            <p id="desc">This website! 🤯</p>
        </div>
        <div class="project-box" data-url="https://github.com/Smiltent/quackatime">
            <img src="https://opengraph.githubassets.com/1/Smiltent/quackatime" alt="">
            <h2>Quackatime (not started)</h2>
            <p id="desc">an Alternative to Hackatime & Wakatime for tracking coding data</p>
        </div>
        <div class="project-box" data-url="https://github.com/Smiltent/ts">
            <img src="https://opengraph.githubassets.com/1/Smiltent/ts" alt="">
            <h2>#ts</h2>
            <p id="desc">Built for the #ts v2 YSWS (which never released).</p>
        </div>
    </div>
</div>
