
<%- include ("components/$headerNav.ejs") %>

<div class="project-list">
    <h1>projects</h1>

    <a class="project-box" href="https://github.com/Smiltent/edu" data-timeid="edu">
        <h2>edu</h2>
        <p id="desc">Edupage scraper, which gets all the data off a schedule page and stores it</p>
    </a>

    <a class="project-box" href="https://github.com/Smiltent/sitev2" data-timeid="sitev2">
        <h2>smilt.dev</h2>
        <p id="desc">This website! 🤯</p>
    </a>

    <a class="project-box" href="https://github.com/Smiltent/quackatime" data-timeid="quackatime">
        <h2>Quackatime (not started)</h2>
        <p id="desc">an Alternative to Hackatime & Wakatime for tracking coding data</p>
    </a>
</div>
