
<%- include ("components/$headerNav.ejs") %>

<div class="about-me">
    <h1>Who am i?</h1>
    <p>Hello! My name is Smil! I am a human being that is <span id="birth">18</span> years old!</p>
    <p>I enjoy Web Development (especially EJS and TS), Backend Development and Minecraft Plugins.</p>
    <p>Fun fact: My username originates from the Latvian City <a target="_blank" href="https://en.wikipedia.org/wiki/Smiltene">Smiltene</a>!</p>

    <h2>PC Specs</h2>
    <ul>
        <li>i5-12450HX</li>
        <li>RTX 4060 Mobile</li>
        <li>16GB DDR5</li>
        <li>1TB SDD + 512GB SSD</li>
    </ul>

    <h2>Contact</h2>
    <ul>
        <li>Email - <%= email %></li>
        <li>Discord - @smiltene</li>
    </ul>
</div>
