
<%- include ("../components/$headerNav.ejs") %>

<div class="guestbook">
    <div class="gb-left">
        <form action="/guestbook" method="post">
            <input type="hidden" name="_csrf" value="<%= csrf %>">

            <input type="text" maxlength="32" name="name" required placeholder="y/n">
            <input type="text" maxlength="128" name="website" placeholder="website (optional)">
            <textarea maxlength="500" name="msg" placeholder="your message!"></textarea>

            <input type="submit" value="submit entry!">
        </form>
    </div>
    <div class="gb-right">

    </div>
</div>